.landingPage{
  background-color: black;
  color: white;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}