.landingPage{
  background: linear-gradient(var(--darkBlue), #9198e5);;
  color: white;
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
:root {
  --darkBlue: #0B4770;
  --white: #ECF2F6
}
nav{
  background-color: var(--darkBlue);
  position: sticky!important;
  top: 0;
  z-index: 3;
}
.navbarBrand{
  font-size: 35px;
  color: white;
  text-decoration: none;
}

.navLink{
  color: var(--white);
  text-decoration: none ;
}
.navLink:hover{
  text-decoration: underline;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logButton{
  width: 70px;
  height: 40px;
  background-color: #186192;
}
.body{
  position: relative;
  background-color: black;
  color: var(--white);
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.active{
  text-decoration: underline;
  font-weight: 700;
}
.mainButton {
  height: 50px;
  width: 80px;
  color: var(--white);
  background-color: transparent;
  border-radius: 10px;

}
.loginPage{
  background-color: black;
  width: 100%;
  color: var(--white);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.loginForm div{
  display: flex;
  gap: 20px;
}
.createBody{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 50px;
  background-color: var(--darkBlue);
}
.createStudySet{
  height: 180vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createStudySetHeading{
  color: var(--white);
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.studySetDescription{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
textarea,input {
  resize: none!important;
  border: none;
  border-bottom: 1px solid black;
  background-color: #0B4770;
}
.inputDescription{
  height: 150px;
  width: 30%;
}
.inputTitle{
  height: 40px;
  width: 20%;
}
.errorMessage{
  background-color: red;
  color: var(--white);
  width: 100%;
  text-align: center;
}
.studyCard{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.studySetCollection{
  height: 90vh;
  padding-top: 20px;
  background-color: black;
  color: var(--white);
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.studySet{
  cursor: pointer;
  text-align: center;
  background-color: red;
  width: 100%;
}
.studySetTerms{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  gap: 30px;
}
.flashcard{
  height: 60%;
  width: 60%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.flashcardOptionsButton{
  position: absolute;
  top: 0;
  left: 0;
}
.flashcardOptionsPopup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.flashcardOptionsPopup .popupInner{
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
